@use './components/components' as *;
@use './abstract/abstract'  as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: $bg-color;

  background-image: radial-gradient(
      at 47% 33%,
      hsl(162, 73%, 26%) 0,
      transparent 20%
    ),
    radial-gradient(at 82% 65%, hsl(198, 62%, 36%) 0, transparent 20%);
}
